body {
  margin: 0;
  text-align: center;
  font-family: cursive;
  font-size: 130%;
}

h1 {
  margin: 0 auto 0 auto;
}

.super{
  font-weight: bold;
  color: red;
}

.top-container {
  background-color: #b4f2e1;
  position: relative;
  padding-top: 100px;
}


.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
